
/Sass/node_modules/
/Sass/img/
/Sass/css/
/Sass/.idea/
/2-trillo/.idea/
/2-trillo/.vscode/
/2-trillo/node_modules/       /2-trillo/package-lock.json
/1-natours/package-lock.json
/1-natours/node_modules/
/1-natours/.idea/
/2-trillo/node_modules/
/2-trillo/package-lock.json
/source/
