/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

todo: добавить плагин для отображения цветов

*/

* {
    margin: 0; /*no margins or pedding brouser can add*/
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh; /* 95 процентов от экрана, снизу остается полоска*/
    background-image: linear-gradient(to right bottom,
    #7ed56f8a,
    #28b485a4),
    url(../img/hero.jpg); /*добавили градиент*/
    background-size: cover;
    background-position: top; /*we can see always the bottom side of the picture when we change the brouser size*/

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*делает обрезку гельятина. координаты в процентах по часовой стрелке*/
/*vh меняет видимость объекта в зависимости от высоты окна*/
}