.btn {
  &:link, /*link is a state of btn selector*/
  &:visited /*if already clicked*/
  {
    /*это нужно чтобы кнопка не меняла цвет после нажатия*/
    text-transform: uppercase;
    text-decoration: none;

    /*первое для верха и низа, второе для лево право*/
    padding: 1.5rem 4rem;

    /*если мы хотим использовать паддинг и марджин нужно использовать этот display*/
    //inline-block ведет себя как текст
    display: inline-block;
    border-radius: 10rem;

    /*все свойства могут быть анимированны*/
    transition: all .2s;
    position: relative;
    /*добавляем - чтобы сделать эффект с after*/
    font-size: $default-font-size;
  }

  &:hover {
    /*hover - это псевдокласс - состояние класса btn когда навели на элемент*/
    transform: translateY(-3px);

    /*сдвиг тени по x, y,размытие, цвет и прозрачность*/
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    font-weight: 700;
  }

  &:active {
    /*always related to the initial link state*/
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  /*это фактически новый элемент*/
  &::after {
    /*идея в том, чтобы добавить такую же кнопку но нужно определить контент*/
    content: ""; //без этого не работает
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute; //чтобы поместить за кнопкой, для этого позицию основного элемента нужно сделать relative
    top: 0;
    left: 0;

    /*позиция за основной кнопкой*/
    z-index: -1;
    transition: all .4s;
  }

  //читается так: когда мы наводим на кнопку - мы хотим этот стиль для ее копии after
  &:hover::after {
    /*делаем кнопку на заднем плане больше*/
    transform: scaleX(1.4) scaleY(1.8);

    //прячем кнопку
    opacity: 0;
  }

  &--animated {

    //движеение кнопки начнем на 750 мс позже остальной
    animation: moveInBottom .5s ease-out .75s;

    /*автоматически выставляет значение анимации 0 перед началом*/
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);

  }
}
